<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../common/head.htm %>
</head>

<body class="navbar-top">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		
		<% include ../../common/logo.htm %>
		
		<% include ../../common/topbar.htm %>
		
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
					<% include ../../common/usermenu.htm %>
					<!-- /user menu -->


					<!-- Main navigation -->
					<% include ../../common/mainnav.htm %>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
				<div class="page-header page-header-default">
					
					<!-- Content Header -->
					<div class="page-header-content">
						<div class="page-title">
							<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Starters</span> - Fixed Main</h4>
						</div>

						<div class="heading-elements">
							<a href="#" class="btn btn-labeled btn-labeled-right bg-blue heading-btn">Button <b><i class="icon-menu7"></i></b></a>
						</div>
					</div>
					<!-- /Content Header -->
					
					<!-- Content Breadcrumb -->
					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
							<li><a href="layout_navbar_fixed_main.htm">MCQ</a></li>
							<li class="active">Upload MCQ</li>
						</ul>
 
					</div>
					<!-- /Content Breadcrumb -->
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">

					<!-- Simple panel -->
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Upload MCQ</h5>
						</div>

						<div class="panel-body">
							<div class="form-group">
									<label class="col-lg-2 control-label text-semibold">Select MCQ Excel file</label>
									<div class="col-lg-10">
										<input type="file" class="file-input-extensions">
										<span class="help-block">Allow only specific file MCQ.xlsx</span>
									</div>
							</div>
						</div>
					</div>
					<!-- /simple panel -->
 
					<!-- Footer -->
					 <% include ../../../common/lightfooter_adm.htm %>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
