<!DOCTYPE html>
<html lang="en">
<head><% include ../../common/head.htm %>

<style type="text/css">

.panel-body {
	min-height: 35px;
	height: 35px;
}

</style>
</head>

<body class="navbar-top">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top"><% include
		../../common/logo.htm %> <% include ../../common/topbar.htm %></div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
					<% include ../../common/usermenu.htm %>
					<!-- /user menu -->


					<!-- Main navigation -->
					<% include ../../common/mainnav.htm %>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
				<div class="page-header page-header-default">

					<!-- Content Header -->
					<div class="page-header-content">
						<div class="page-title">
							<h4>
								<i class="icon-arrow-left52 position-left"></i> <span
									class="text-semibold">MCQ</span> - New Question
							</h4>
						</div>

						<div class="heading-elements">
							<a href="/instructor/editmcq"
								class="btn btn-labeled btn-labeled-right bg-blue heading-btn">Button
								<b><i class="icon-menu7"></i></b>
							</a>
						</div>
					</div>
					<!-- /Content Header -->

					<!-- Content Breadcrumb -->
					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="index.html"><i
									class="icon-home2 position-left"></i> Home</a></li>
							<li><a href="layout_navbar_fixed_main.htm">MCQ</a></li>
							<li class="active">My Question List</li>
						</ul>

					</div>
					<!-- /Content Breadcrumb -->
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">

					<!-- Simple panel -->

					<!-- Wizard with validation -->
					<div class="panel panel-white">
						<div class="panel-heading">
							<h6 class="panel-title">My Questions</h6>
						</div>

						 <div class="panel panel-flat">
						 
						<table class="table datatable-basic table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>Subject</th>
									<th>Chapter</th>
									<th>Question</th>
									<th>Status</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>English</td>
									<td>Grammar</td>
									<td>What is Preposition ?</td>
									<td><span class="label label-success">OK</span></td>
									<td class="text-center">
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="/instructor/editmcq"><i class="icon-eraser"></i>Edit</a></li>
												</ul>
											</li>
										</ul>
									</td>
								</tr>
								 <tr>
									<td>English</td>
									<td>Grammar</td>
									<td>What is Preposition ?</td>
									<td><span class="label label-success">OK</span></td>
									<td class="text-center">
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="/instructor/editmcq"><i class="icon-eraser"></i>Edit</a></li>
												</ul>
											</li>
										</ul>
									</td>
								</tr><tr>
									<td>English</td>
									<td>Grammar</td>
									<td>What is Preposition ?</td>
									<td><span class="label label-success">OK</span></td>
									<td class="text-center">
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="/instructor/editmcq"><i class="icon-eraser"></i>Edit</a></li>
												</ul>
											</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
					<!-- /wizard with validation -->
					<!-- Footer -->
					<% include ../../../common/lightfooter_adm.htm %>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>

 
</html>
