<!doctype html>
<html lang="">

<head>
    <% include ./common/head.htm %>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- Main Body Area Start Here -->
    <div id="wrapper">
        <!-- Header Area Start Here -->
        <header>
            <div id="header3" class="header3-area">
            
                <% include ./common/topbar.htm %>
                
                <% include ./common/mainmenu.htm %>
                
            </div>
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <% include ./common/mobilemenu.htm %>
            </div>
            <!-- Mobile Menu Area End -->
        </header>
        <!-- Header Area End Here -->
        <!-- Slider 1 Area Start Here -->
        <div class="slider1-area slider3-area overlay-default">
            <div class="bend niceties preview-1">
                <div id="ensign-nivoslider-3" class="slides">
                   
                   <% include ./homeslider.htm %>
                   
                </div>
                
                <% include ./slidercontent.htm %>
                
            </div>
        </div>
        <!-- Slider 1 Area End Here -->
        <!-- Service 2 Area Start Here -->
        <div class="service2-area">
            
            <% include ./common/searcharea.htm %>
            
            <div class="container">
                
                <% include ./numbers.htm %>
                
            </div>
        </div>
        <!-- Service 2 Area End Here -->
        <!-- Featured Area Start Here -->
        <div class="courses2-area bg-common-style" style="background-image: url('assets/learniteasy/img/featured/back2.jpg');">
            
             <% include ./common/allfeaturedcourses.htm %>
            
        </div>
        <!-- Featured Area End Here -->
        <!-- Counter Area Start Here -->
        <div class="counter-area bg-primary-deep" style="background-image: url('assets/learniteasy/img/banner/4.jpg');">
            <% include ./common/featurednumbers.htm %>	
        </div>
        <!-- Counter Area End Here -->
        <!-- Lecturers Area Start Here -->
        <div class="lecturers-area">
            <% include ./common/lecturers.htm %>	
        </div>
        <!-- Lecturers Area End Here -->
        <!-- News and Event Area Start Here -->
        <div class="news-event-area">
           <% include ./common/newsevents.htm %>	
        </div>
        <!-- News and Event Area End Here -->
        <!-- Countdown Area Start Here -->
        <div class="countdown-area bg-primary-deep-fixed" style="background-image: url('assets/learniteasy/img/banner/3.jpg');">
            <div class="container">
                <% include ./common/nexteventcountdown.htm %>	
            </div>
        </div>
        <!-- Countdown Area End Here -->
        <!-- Publications Area Start Here -->
        
        <% include ./common/publication.htm %>	
        
        <!-- Publications Area End Here -->
        <!-- Students Join 3 Area Start Here -->
        
        <% include ./common/students.htm %>	
        
        <!-- Students Join 3 Area End Here -->
        <!-- Brand Area Start Here -->
       
        <% include ./common/brands.htm %>	
        
        <!-- Brand Area End Here -->
        <!-- Footer Area Start Here -->
        
        <% include ./common/footer.htm %>	
        
        <!-- Footer Area End Here -->
    </div>
    
    <% include ./common/jsinclude.htm %>	
    

</body>

</html>
