<!DOCTYPE html>
<html lang="en">
<head>
	 <% include ./common/head_adm.htm %>
</head>

<body class="login-container">

	<!-- Main navbar -->
	 <% include ./common/mainnavbar_adm.htm %>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">
					
					<!-- Simple login form -->
					<form action="index.html">
						<div class="panel panel-body login-form">
							<div class="text-center">
								<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
								<h5 class="content-group">Validate OTP <small class="display-block">Enter your credentials below</small></h5>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								 
								<input type="text" class="form-control" placeholder="User Name : Emailid or Phone Number" disabled="disabled">
								<div class="form-control-feedback">
									<i class="icon-user text-muted"></i>
								</div>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="password" class="form-control" placeholder="OTP send to your Mobile" maxlength="6">
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div>

							<div class="form-group">
								<a href="/admindashboard"><button type="button" class="btn btn-primary btn-block">Admin<i class="icon-circle-right2 position-right"></i></button></a>
							</div>
							
							<div class="form-group">
								<a href="/instructor/contribution/mcq"><button type="button" class="btn btn-primary btn-block">Instructor<i class="icon-circle-right2 position-right"></i></button></a>
							</div>
							
							<div class="form-group">
								<a href="/instructor/contribution/mcq"><button type="button" class="btn btn-primary btn-block">Student<i class="icon-circle-right2 position-right"></i></button></a>
							</div>
							
							<div class="form-group">
								<a href="/instructor/contribution/mcq"><button type="button" class="btn btn-primary btn-block">Institution<i class="icon-circle-right2 position-right"></i></button></a>
							</div>

						 
						</div>
					</form>
					<!-- /simple login form -->


					<!-- Footer -->
					 <% include ./common/lightfooter_adm.htm %>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
