<!DOCTYPE html>
<html lang="en">
<head>
	 <% include ./common/head_adm.htm %>
</head>

<body class="login-container">

	<!-- Main navbar -->
	 <% include ./common/mainnavbar_adm.htm %>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">

					<!-- Simple login form -->
					<form action="index.html">
						<div class="panel panel-body login-form">
							<div class="text-center">
								<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
								<h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="text" class="form-control" placeholder="User Name : Emailid or Phone Number">
								<div class="form-control-feedback">
									<i class="icon-user text-muted"></i>
								</div>
							</div>

							<!-- <div class="form-group has-feedback has-feedback-left">
								<input type="password" class="form-control" placeholder="Password">
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div> -->

							<div class="form-group">
								<a href="/loginpass"><button type="button" class="btn btn-primary btn-block">Validate Me <i class="icon-circle-right2 position-right"></i></button></a>
							</div>

							 
							<div class="text-center">
								<a href="/newuserregisteradm"><button type="button" class="btn btn-default"><i class="icon-make-group position-left"></i>New User Registration</button></a>
							</div>
							
							<br>
							<div class="text-center">
								<a href="/forgotpasswordadm">Forgot password?</a>
							</div>
							
						</div>
					</form>
					<!-- /simple login form -->


					<!-- Footer -->
					 <% include ./common/lightfooter_adm.htm %>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
