<!doctype html>
<html lang="">

<head>
    <% include ../common/head.htm %>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <div id="wrapper">
        <!-- Header Area Start Here -->
        <header>
            <div id="header2" class="header2-area">
                  <% include ../common/topbar.htm %>
                
                  <% include ../common/mainmenu.htm %>
            </div>
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                 <% include ../common/mobilemenu.htm %>
            </div>
            <!-- Mobile Menu Area End -->
        </header>
        <!-- Header Area End Here -->
        <!-- Inner Page Banner Area Start Here -->
        <div class="inner-page-banner-area" style="background-image: url('assets/learniteasy/img/banner/5.jpg');">
            <div class="container">
                <div class="pagination-area">
                    <h1>Course Type</h1>
                    <ul>
                        <li><a href="#">Home</a> -</li>
                        <li>Courses</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inner Page Banner Area End Here -->
        <!-- Courses Page 1 Area Start Here -->
        <div class="courses-page-area1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-md-push-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="courses-page-top-area">
                                    <div class="courses-page-top-left">
                                        <p>Showing 13-24 of 50 results</p>
                                    </div>
                                    <div class="courses-page-top-right">
                                        <ul>
                                            <li class="active"><a href="#gried-view" data-toggle="tab" aria-expanded="false"><i class="fa fa-th-large"></i></a></li>
                                            <li><a href="#list-view" data-toggle="tab" aria-expanded="true"><i class="fa fa-list"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="gried-view">
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\1.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">Basic Philosopphy</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>7 Months
                                                            <br><span> Course</span></li>
                                                        <li>30
                                                            <br><span> Classes</span></li>
                                                        <li>10 pm - 11 pm
                                                            <br><span> Classes</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\2.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">GMAT</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>3 Months
                                                            <br><span> Course</span></li>
                                                        <li>30
                                                            <br><span> Classes</span></li>
                                                        <li>10 am - 11 am
                                                            <br><span> Classes</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\3.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">IELTS</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>1 Year
                                                            <br><span> Course</span></li>
                                                        <li>30
                                                            <br><span> Classes</span></li>
                                                        <li>09 am - 11 am
                                                            <br><span> Classes</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\9.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="/coursedetails">CSE</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>2 Months
                                                            <br><span> Course</span></li>
                                                        <li>30
                                                            <br><span> Classes</span></li>
                                                        <li>02 pm - 04 pm
                                                            <br><span> Classes</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\10.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">Diploma</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>4 Months
                                                            <br><span> Course</span></li>
                                                        <li>30
                                                            <br><span> Classes</span></li>
                                                        <li>08 am - 10 am
                                                            <br><span> Classes</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\11.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">Mathematics</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>1 Year
                                                            <br><span> Course</span></li>
                                                        <li>30
                                                            <br><span> Classes</span></li>
                                                        <li>10 am - 12 pm
                                                            <br><span> Classes</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\12.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">Basic Philosopphy</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>3 Years
                                                            <br><span> Course</span></li>
                                                        <li>30
                                                            <br><span> Classes</span></li>
                                                        <li>09 am - 11 am
                                                            <br><span> Classes</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\13.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">GMAT</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>9 Months
                                                            <br><span> Course</span></li>
                                                        <li>30
                                                            <br><span> Classes</span></li>
                                                        <li>05 pm - 08 pm
                                                            <br><span> Classes</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\14.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">IELTS</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>9 Months
                                                            <br><span> Course</span></li>
                                                        <li>30
                                                            <br><span> Classes</span></li>
                                                        <li>11 am - 02 pm
                                                            <br><span> Classes</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Listed product show -->
                                <div role="tabpanel" class="tab-pane" id="list-view">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="courses-box3">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-right">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\1.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">GMAT</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry iLorem ipsum dolor sit consectetuer adipiscing elit et diam nonummy.t’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>1 Year
                                                            <br><span> Course</span></li>
                                                        <li>15
                                                            <br><span> Classes</span></li>
                                                        <li>05 pm - 07 pm
                                                            <br><span> Time</span></li>
                                                    </ul>
                                                    <div class="courses-fee">$400</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="courses-box3">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-right">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\2.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">IELTS</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry iLorem ipsum dolor sit consectetuer adipiscing elit et diam nonummy.t’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>2 Months
                                                            <br><span> Course</span></li>
                                                        <li>15
                                                            <br><span> Classes</span></li>
                                                        <li>08 pm - 09 pm
                                                            <br><span> Time</span></li>
                                                    </ul>
                                                    <div class="courses-fee">$800</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="courses-box3">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-right">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\3.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">Basic Philosopphy</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry iLorem ipsum dolor sit consectetuer adipiscing elit et diam nonummy.t’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>6 Months
                                                            <br><span> Course</span></li>
                                                        <li>15
                                                            <br><span> Classes</span></li>
                                                        <li>04 pm - 06 pm
                                                            <br><span> Time</span></li>
                                                    </ul>
                                                    <div class="courses-fee">$100</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="courses-box3">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-right">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\10.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">Graphic Design</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry iLorem ipsum dolor sit consectetuer adipiscing elit et diam nonummy.t’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>2 Years
                                                            <br><span> Course</span></li>
                                                        <li>15
                                                            <br><span> Classes</span></li>
                                                        <li>03 pm - 05 pm
                                                            <br><span> Time</span></li>
                                                    </ul>
                                                    <div class="courses-fee">$500</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="courses-box3">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-right">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\11.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">Diploma</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry iLorem ipsum dolor sit consectetuer adipiscing elit et diam nonummy.t’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>10 Months
                                                            <br><span> Course</span></li>
                                                        <li>15
                                                            <br><span> Classes</span></li>
                                                        <li>09 am - 11 am
                                                            <br><span> Time</span></li>
                                                    </ul>
                                                    <div class="courses-fee">$300</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="courses-box3">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-right">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\12.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="#">CSE</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry iLorem ipsum dolor sit consectetuer adipiscing elit et diam nonummy.t’s free demo.</p>
                                                    <ul class="courses-info">
                                                        <li>6 Months
                                                            <br><span> Course</span></li>
                                                        <li>15
                                                            <br><span> Classes</span></li>
                                                        <li>05 pm - 07 pm
                                                            <br><span> Time</span></li>
                                                    </ul>
                                                    <div class="courses-fee">$600</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <ul class="pagination-left">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-md-pull-9">
                        <div class="sidebar">
                            <div class="sidebar-box">
                                <% include ../common/findyourcourse.htm %>
                            </div>
                            <div class="sidebar-box">
                                <% include ../common/classcategory.htm %>
                            </div>
                            <div class="sidebar-box">
                                <% include ../common/searchbyprice.htm %>
                            </div>
                            <div class="sidebar-box">
                                <div class="sidebar-add-area overlay-primaryColor">
                                    <img src="assets\learniteasy\img\banner\7.jpg" class="img-responsive" alt="banner">
                                    <a href="#" class="sidebar-ghost-btn">Apply Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Courses Page 1 Area End Here -->
        <!-- Footer Area Start Here -->
        <% include ../common/footer.htm %>	
        <!-- Footer Area End Here -->
    </div>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- jquery-->
    <% include ../common/jsinclude.htm %>	
</body>

</html>
        
