<!doctype html>
<html lang="">

<head>
    <% include ../common/head.htm %>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <div id="wrapper">
        <!-- Header Area Start Here -->
        <header>
            <div id="header2" class="header2-area">
                  <% include ../common/topbar.htm %>
                
                  <% include ../common/mainmenu.htm %>
            </div>
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                 <% include ../common/mobilemenu.htm %>
            </div>
            <!-- Mobile Menu Area End -->
        </header>
        <!-- Header Area End Here -->
        <!-- Inner Page Banner Area Start Here -->
        <div class="inner-page-banner-area" style="background-image: url('assets/learniteasy/img/banner/5.jpg');">
            <div class="container">
                <div class="pagination-area">
                    <h1>Trends</h1>
                    <ul>
                        <li><a href="#">Home</a> -</li>
                        <li>Job</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inner Page Banner Area End Here -->
        <!-- Account Page Start Here -->
        <div class="section-space accent-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <ul class="profile-title">
                            <li class="active"><a href="#javaexprience" data-toggle="tab" aria-expanded="false">Java Experience</a></li>
                            <li><a href="#dotnetexprience" data-toggle="tab" aria-expanded="false">.Net Experience</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <form class="form-horizontal" id="checkout-form">
                            <div class="profile-details tab-content" style="height: 2000px;">
                                <div class="tab-pane fade active in" id="javaexprience">
                                    <h3 class="title-section title-bar-high mb-40">Java Experience</h3>
                                     
									 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\9.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="/coursedetails">CSE</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                     <ul class="courses-info">
                                                       <li style="color:blue; width: 30%">Duration</li>
                                                       <li>1 Day / 8 Hour Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                       <li style="color:chocolate;width: 30%">Schedule</li>
                                                       <li>Weekend Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                      <li style="color: red;width: 30%">Cost</li>
                                                      <li>Free</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\9.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="/coursedetails">CSE</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                     <ul class="courses-info">
                                                       <li style="color:blue; width: 30%">Duration</li>
                                                       <li>1 Day / 8 Hour Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                       <li style="color:chocolate;width: 30%">Schedule</li>
                                                       <li>Weekend Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                      <li style="color: red;width: 30%">Cost</li>
                                                      <li>Free</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\9.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="/coursedetails">CSE</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                     <ul class="courses-info">
                                                       <li style="color:blue; width: 30%">Duration</li>
                                                       <li>1 Day / 8 Hour Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                       <li style="color:chocolate;width: 30%">Schedule</li>
                                                       <li>Weekend Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                      <li style="color: red;width: 30%">Cost</li>
                                                      <li>Free</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     
                                </div>
                                 
                                 
                                 <div class="tab-pane fade active in" id="dotnetexprience">
                                    <h3 class="title-section title-bar-high mb-40">.Net Experience</h3>
                                     
									 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\9.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="/coursedetails">CSE</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                     <ul class="courses-info">
                                                       <li style="color:blue; width: 30%">Duration</li>
                                                       <li>1 Day / 8 Hour Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                       <li style="color:chocolate;width: 30%">Schedule</li>
                                                       <li>Weekend Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                      <li style="color: red;width: 30%">Cost</li>
                                                      <li>Free</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\9.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="/coursedetails">CSE</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                     <ul class="courses-info">
                                                       <li style="color:blue; width: 30%">Duration</li>
                                                       <li>1 Day / 8 Hour Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                       <li style="color:chocolate;width: 30%">Schedule</li>
                                                       <li>Weekend Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                      <li style="color: red;width: 30%">Cost</li>
                                                      <li>Free</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="courses-box1">
                                            <div class="single-item-wrapper">
                                                <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                    <img class="img-responsive" src="assets\learniteasy\img\course\9.jpg" alt="courses">
                                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="courses-content-wrapper">
                                                    <h3 class="item-title"><a href="/coursedetails">CSE</a></h3>
                                                    <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                                     <ul class="courses-info">
                                                       <li style="color:blue; width: 30%">Duration</li>
                                                       <li>1 Day / 8 Hour Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                       <li style="color:chocolate;width: 30%">Schedule</li>
                                                       <li>Weekend Course</li>
                                                    </ul>
                                                    <ul class="courses-info">
                                                      <li style="color: red;width: 30%">Cost</li>
                                                      <li>Free</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Account Page End Here -->
       <!-- Footer Area Start Here -->
        <% include ../common/footer.htm %>	
        <!-- Footer Area End Here -->
    </div>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- jquery-->
    <% include ../common/jsinclude.htm %>	
</body>

</html>
        
       