<!doctype html>
<html lang="">

<head>
<% include ../common/head.htm %>

<style type="text/css">
#sticky {
	/* padding: 0.5ex;
	width: 600px; */
	background-color: #fff;
	color: #fff;
	/* border-radius: 0.5ex; */
}

#sticky.stick {
	/* margin-top: 0 !important; */
	position: fixed;
	/* top: 0;  */
	z-index: 10000;
	/* border-radius: 0 0 0.5em 0.5em; */
}
</style>
</head>

<body>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<!-- Add your site or application content here -->
	<div id="wrapper">
		<!-- Header Area Start Here -->
		<header>
			<div id="header2" class="header2-area"><% include
				../common/topbar.htm %> <% include ../common/mainmenu.htm %></div>
			<!-- Mobile Menu Area Start -->
			<div class="mobile-menu-area"><% include
				../common/mobilemenu.htm %></div>
			<!-- Mobile Menu Area End -->
		</header>
		<!-- Header Area End Here -->
		<!-- Inner Page Banner Area Start Here -->
		<!-- <div class="inner-page-banner-area"
			style="background-image: url('assets/learniteasy/img/banner/5.jpg');">
			<div class="container">
				<div class="pagination-area">
					<h1>Trends</h1>
					<ul>
						<li><a href="#">Home</a> -</li>
						<li>Technology</li>
					</ul>
				</div>
			</div>
		</div> -->
		<!-- Inner Page Banner Area End Here -->
		<!-- Account Page Start Here -->
		
		<div class="section-space accent-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						

						<!-- <div id="sticky-anchor"></div> -->
						<br> <br> <br> <br> <br> <br>
						<div id="sticky-anchor"></div>
						<div class="event-details-inner" id="sticky">
							<div class="event-details-img">
								<div class="countdown-content">
									<div id="countdown"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<form class="form-horizontal" id="checkout-form">
							<div class="profile-details tab-content" style="height: 2000px;">
								<div class="tab-pane fade active in" id="bigdata">
									<h3 class="title-section title-bar-high mb-40" style="font-size: 16px;">Question Number : 12</h3>

									<div class="col-lg-12 col-md-12 col-sm-4 col-xs-12">
										<div class="course-details-inner">
											<h2 class="title-default-left title-bar-high" style="font-size: 24px;">Advance
												WordPress Development Class this is the question to answer</h2>
											<p style="color: gray;">Bimply dummy text of the printing and typesetting
												industry. Lorem Ipsum has been the industry's standard dummy
												text ever since the 1500s, when an unknown printer took a
												galley of type and scrambled it to make a type specime book.
												It has survived not only five centuries.</p>
											 
										</div>
										
									</div>
									<div class="col-lg-12 col-md-12 col-sm-4 col-xs-12" style="padding-left: 45px; padding-right: 45px;">
										
										<div class="form-group">
											 
											 <div class="col-sm-12">
											 	<label class="customcontainerradio">Option 1
												<input type="radio" id="test" name="test">
												 <span class="checkmarkradio"></span>
												</label>
												
											</div>
											
											 
										</div>
										
										<div class="form-group">
											 
											 
											<div class="col-sm-12">
											 	<label class="customcontainerradio">Option 2
												<input type="radio" id="test" name="test">
												 <span class="checkmarkradio"></span>
												</label>
												
											</div>
											 
										</div>
										
											<div class="form-group">
										<div class="col-sm-3">
											 	<label class="customcontainercheckbox">Option 3
												<input type="checkbox" id="test" name="test">
												 <span class="checkmarkcheckbox"></span>
												</label>
												
											</div>
										</div>
										
										<div class="form-group">
											 
											<div class="col-sm-3">
											 	<label class="customcontainercheckbox">Option 4
												<input type="checkbox" id="test" name="test">
												 <span class="checkmarkcheckbox"></span>
												</label>
												
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									 	<div class="lecturers-content-wrapper">
											<ul class="lecturers-social">
												<a href="/mcq"><li><button class="default-white-btn col-sm-12"
													 type="button" value="Login">Before</button></li></a>
												<a href="/mcq"><li><button class="view-all-accent-btn col-sm-12"
													 type="button" value="Login">Submit</button></li></a>
												<a href="/mcq"><li><button class="default-white-btn col-sm-12"
													 type="button" value="Login">Next</button></li></a>
												 

											</ul>
										</div>
										 
									 
									</div>
									 
									
								</div>


								 
							</div>
						</form>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

						<div class="sidebar">
							<div class="sidebar-box">
								<div class="sidebar-box-inner">
									<h3 class="sidebar-title">Questions</h3>
									<div class="sidebar-find-course">
										<div class="lecturers-content-wrapper">
											<ul class="lecturers-social">
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #f7a5a5">1</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #f7a5a5">2</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #f7a5a5">3</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #f7a5a5">4</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #f7a5a5">1</a></li>

												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #f7a5a5">2</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #f7a5a5">3</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #f7a5a5">4</a></li>

											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>


						<div class="sidebar">
							<div class="sidebar-box">
								<div class="sidebar-box-inner">
									<h3 class="sidebar-title">Review Required</h3>
									<div class="sidebar-find-course">
										<div class="lecturers-content-wrapper">
											<ul class="lecturers-social">
												<li style="padding-bottom: 2px"><a href="#">1</a></li>
												<li style="padding-bottom: 2px"><a href="#">2</a></li>
												<li style="padding-bottom: 2px"><a href="#">3</a></li>
												<li style="padding-bottom: 2px"><a href="#">4</a></li>
												<li style="padding-bottom: 2px"><a href="#">1</a></li>

												<li style="padding-bottom: 2px"><a href="#">2</a></li>
												<li style="padding-bottom: 2px"><a href="#">3</a></li>
												<li style="padding-bottom: 2px"><a href="#">4</a></li>
												<li style="padding-bottom: 2px"><a href="#">1</a></li>
												<li style="padding-bottom: 2px"><a href="#">2</a></li>
												<li style="padding-bottom: 2px"><a href="#">3</a></li>
												<li style="padding-bottom: 2px"><a href="#">4</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="sidebar">
							<div class="sidebar-box">
								<div class="sidebar-box-inner">
									<h3 class="sidebar-title">Done</h3>
									<div class="sidebar-find-course">
										<div class="lecturers-content-wrapper">
											<ul class="lecturers-social">
												<li style="padding-bottom: 2px;"><a href="#"
													style="background-color: #90EE90;">1</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #90EE90;">2</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #90EE90;">3</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #90EE90;">4</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #90EE90;">1</a></li>

												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #90EE90;">2</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #90EE90;">3</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #90EE90;">4</a></li>
												<li style="padding-bottom: 2px"><a href="#"
													style="background-color: #90EE90;">1</a></li>

											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="sidebar">
							<div class="sidebar-box">
								<div class="sidebar-box-inner">
									<h3 class="sidebar-title">Complete Test</h3>
									<div class="sidebar-find-course">
										<div class="lecturers-content-wrapper">
											<ul class="lecturers-social">
												 <a href="/mcqcomplete"><li><button class="view-all-accent-btn col-sm-12"
													 type="button" value="Login">COMPLETE TEST</button></li></a></li>
												 
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Account Page End Here -->
		<!-- Footer Area Start Here -->
		<% include ../common/footer.htm %>
		<!-- Footer Area End Here -->
	</div>
	<!-- Preloader Start Here -->
	<div id="preloader"></div>
	<!-- Preloader End Here -->
	<!-- jquery-->
	<% include ../common/jsinclude.htm %>
	<script type="text/javascript">
		function sticky_relocate() {
			var window_top = $(window).scrollTop();
			var div_top = $('#sticky-anchor').offset().top;
			if (window_top > div_top) {
				$('#sticky').addClass('stick');
				$('#sticky-anchor').height($('#sticky').outerHeight());
			} else {
				$('#sticky').removeClass('stick');
				$('#sticky-anchor').height(0);
			}
		}

		$(function() {
			$(window).scroll(sticky_relocate);
			sticky_relocate();
		});

		var dir = 1;
		var MIN_TOP = 1;
		var MAX_TOP = 1;

		function autoscroll() {
			var window_top = $(window).scrollTop() + dir;
			if (window_top >= MAX_TOP) {
				window_top = MAX_TOP;
				dir = -1;
			} else if (window_top <= MIN_TOP) {
				window_top = MIN_TOP;
				dir = 1;
			}
			$(window).scrollTop(window_top);
			window.setTimeout(autoscroll, 100);
		}

		/*-------------------------------------
		Countdown activation code
		-------------------------------------*/
		$('#countdown')
				.countdown(
						'2017/12/12 01:00:00',
						function(e) {

							$(this)
									.html(
											e
													.strftime("<div class='countdown-section'><h3>%D</h3> <p>Day%!D</p> </div><div class='countdown-section'><h3>%H</h3> <p>Hour%!H</p> </div><div class='countdown-section'><h3>%M</h3> <p>Minute%!M</p> </div><div class='countdown-section'><h3>%S</h3> <p>Second%!S</p> </div>"));
							//$(this).html(e.strftime("<div class='countdown-section'><h3>%H</h3> <p>Hour%!H</p> </div><div class='countdown-section'><h3>%M</h3> <p>Minute%!M</p> </div><div class='countdown-section'><h3>%S</h3> <p>Second%!S</p> </div>"));

						});
	</script>
</body>

</html>

