<div class="container">
	<h2 class="title-default-left">Featured Courses</h2>
</div>
<div class="container courses-list-wrapper">
	<div class="row courses-wrapper courses-list">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item">
			<div class="courses-box2">
				<div class="single-item-wrapper">
					<div class="courses-img-wrapper hvr-bounce-to-right">
						<img class="img-responsive"
							src="assets\learniteasy\img\course\5.jpg" alt="courses"> <a
							href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
					</div>
					<div class="courses-content-wrapper">
						<h3 class="item-title">
							<a href="#">Evining MBA</a>
						</h3>
						<p class="item-content">Rimply dummy texthe prinetting indus
							known printer galley scrambled.</p>
						<ul class="courses-info">
							<li>1 Year <br>
							<span> Course</span></li>
							<li>70 <br>
							<span> Classes</span></li>
							<li>7 pm - 10 pm <br>
							<span> Time</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item">
			<div class="courses-box2">
				<div class="single-item-wrapper">
					<div class="courses-img-wrapper hvr-bounce-to-right">
						<img class="img-responsive"
							src="assets\learniteasy\img\course\6.jpg" alt="courses"> <a
							href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
					</div>
					<div class="courses-content-wrapper">
						<h3 class="item-title">
							<a href="#">Basic Philosopphy</a>
						</h3>
						<p class="item-content">Rimply dummy texthe prinetting indus
							known printer galley scrambled.</p>
						<ul class="courses-info">
							<li>1 Year <br>
							<span> Course</span></li>
							<li>20 <br>
							<span> Classes</span></li>
							<li>8 pm - 9 pm <br>
							<span> Time</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item">
			<div class="courses-box2">
				<div class="single-item-wrapper">
					<div class="courses-img-wrapper hvr-bounce-to-right">
						<img class="img-responsive"
							src="assets\learniteasy\img\course\7.jpg" alt="courses"> <a
							href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
					</div>
					<div class="courses-content-wrapper">
						<h3 class="item-title">
							<a href="#">Advance GMAT</a>
						</h3>
						<p class="item-content">Rimply dummy texthe prinetting indus
							known printer galley scrambled.</p>
						<ul class="courses-info">
							<li>3 Months <br>
							<span> Course</span></li>
							<li>50 <br>
							<span> Classes</span></li>
							<li>10 pm - 11 pm <br>
							<span> Time</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item">
			<div class="courses-box2">
				<div class="single-item-wrapper">
					<div class="courses-img-wrapper hvr-bounce-to-right">
						<img class="img-responsive"
							src="assets\learniteasy\img\course\8.jpg" alt="courses"> <a
							href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
					</div>
					<div class="courses-content-wrapper">
						<h3 class="item-title">
							<a href="#">IELTS</a>
						</h3>
						<p class="item-content">Rimply dummy texthe prinetting indus
							known printer galley scrambled.</p>
						<ul class="courses-info">
							<li>2 Months <br>
							<span> Course</span></li>
							<li>15 <br>
							<span> Classes</span></li>
							<li>5 pm - 7 pm <br>
							<span> Time</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item hidden">
			<div class="courses-box2">
				<div class="single-item-wrapper">
					<div class="courses-img-wrapper hvr-bounce-to-right">
						<img class="img-responsive"
							src="assets\learniteasy\img\course\9.jpg" alt="courses"> <a
							href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
					</div>
					<div class="courses-content-wrapper">
						<h3 class="item-title">
							<a href="#">Evining MBA</a>
						</h3>
						<p class="item-content">Rimply dummy texthe prinetting indus
							known printer galley scrambled.</p>
						<ul class="courses-info">
							<li>1 Year <br>
							<span> Course</span></li>
							<li>70 <br>
							<span> Classes</span></li>
							<li>7 pm - 10 pm <br>
							<span> Time</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item hidden">
			<div class="courses-box2">
				<div class="single-item-wrapper">
					<div class="courses-img-wrapper hvr-bounce-to-right">
						<img class="img-responsive"
							src="assets\learniteasy\img\course\10.jpg" alt="courses"> <a
							href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
					</div>
					<div class="courses-content-wrapper">
						<h3 class="item-title">
							<a href="#">Basic Philosopphy</a>
						</h3>
						<p class="item-content">Rimply dummy texthe prinetting indus
							known printer galley scrambled.</p>
						<ul class="courses-info">
							<li>1 Year <br>
							<span> Course</span></li>
							<li>20 <br>
							<span> Classes</span></li>
							<li>8 pm - 9 pm <br>
							<span> Time</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item hidden">
			<div class="courses-box2">
				<div class="single-item-wrapper">
					<div class="courses-img-wrapper hvr-bounce-to-right">
						<img class="img-responsive"
							src="assets\learniteasy\img\course\11.jpg" alt="courses"> <a
							href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
					</div>
					<div class="courses-content-wrapper">
						<h3 class="item-title">
							<a href="#">Advance GMAT</a>
						</h3>
						<p class="item-content">Rimply dummy texthe prinetting indus
							known printer galley scrambled.</p>
						<ul class="courses-info">
							<li>3 Months <br>
							<span> Course</span></li>
							<li>50 <br>
							<span> Classes</span></li>
							<li>10 pm - 11 pm <br>
							<span> Time</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item hidden">
			<div class="courses-box2">
				<div class="single-item-wrapper">
					<div class="courses-img-wrapper hvr-bounce-to-right">
						<img class="img-responsive"
							src="assets\learniteasy\img\course\12.jpg" alt="courses"> <a
							href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
					</div>
					<div class="courses-content-wrapper">
						<h3 class="item-title">
							<a href="#">IELTS</a>
						</h3>
						<p class="item-content">Rimply dummy texthe prinetting indus
							known printer galley scrambled.</p>
						<ul class="courses-info">
							<li>2 Months <br>
							<span> Course</span></li>
							<li>15 <br>
							<span> Classes</span></li>
							<li>5 pm - 7 pm <br>
							<span> Time</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item hidden">
			<div class="courses-box2">
				<div class="single-item-wrapper">
					<div class="courses-img-wrapper hvr-bounce-to-right">
						<img class="img-responsive"
							src="assets\learniteasy\img\course\13.jpg" alt="courses"> <a
							href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
					</div>
					<div class="courses-content-wrapper">
						<h3 class="item-title">
							<a href="#">Evining MBA</a>
						</h3>
						<p class="item-content">Rimply dummy texthe prinetting indus
							known printer galley scrambled.</p>
						<ul class="courses-info">
							<li>1 Year <br>
							<span> Course</span></li>
							<li>70 <br>
							<span> Classes</span></li>
							<li>7 pm - 10 pm <br>
							<span> Time</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 courses-item hidden">
			<div class="courses-box2">
				<div class="single-item-wrapper">
					<div class="courses-img-wrapper hvr-bounce-to-right">
						<img class="img-responsive"
							src="assets\learniteasy\img\course\14.jpg" alt="courses"> <a
							href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
					</div>
					<div class="courses-content-wrapper">
						<h3 class="item-title">
							<a href="#">Basic Philosopphy</a>
						</h3>
						<p class="item-content">Rimply dummy texthe prinetting indus
							known printer galley scrambled.</p>
						<ul class="courses-info">
							<li>1 Year <br>
							<span> Course</span></li>
							<li>20 <br>
							<span> Classes</span></li>
							<li>8 pm - 9 pm <br>
							<span> Time</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="view-all-btn-area loadmore">
		<a href="#" class="view-all-accent-btn">View All Corses</a>
	</div>
</div>