<div class="sidebar-box-inner">
	<h3 class="sidebar-title">Find your Course</h3>
	<div class="sidebar-find-course">
		<form id="checkout-form">
			<div class="form-group course-name">
				<input id="first-name" placeholder="Course Name"
					class="form-control" type="text">
			</div>
			<div class="form-group">
				<div class="custom-select">
					<select id="district" class='select2'>
						<option value="0">Categories
						<option value="1">Categories 1
						<option value="2">Categories 2
						<option value="4">Categories 3
						<option value="5">Categories 4
						<option value="6">Categories 5
						<option value="7">Categories 6
						<option value="8">Categories 7
						<option value="9">Categories 8
						<option value="10">Categories 9
						<option value="11">Categories 10
					</select>
				</div>
			</div>
			<div class="form-group remember-style">
				<span><input name="remember" type="checkbox">FREE</span> <span><input
					name="remember" type="checkbox">PAID</span>
			</div>
			<div class="form-group">
				<button class="sidebar-search-btn disabled" type="submit"
					value="Login">Search Course</button>
			</div>
		</form>
	</div>
</div>