<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Academics | Home 3</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets\learniteasy\img\favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\animate.min.css">
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="assets\learniteasy\css\font-awesome.min.css">
    <!-- Owl Caousel CSS -->
    <link rel="stylesheet" href="assets\learniteasy\vendor\OwlCarousel\owl.carousel.min.css">
    <link rel="stylesheet" href="assets\learniteasy\vendor\OwlCarousel\owl.theme.default.min.css">
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\meanmenu.min.css">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" href="assets\learniteasy\vendor\slider\css\nivo-slider.css" type="text/css">
    <link rel="stylesheet" href="assets\learniteasy\vendor\slider\css\preview.css" type="text/css" media="screen">
    <!-- Datetime Picker Style CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\jquery.datetimepicker.css">
     <!-- Select2 CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\select2.min.css">
    <!-- Magic popup CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\magnific-popup.css">
    <!-- Switch Style CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\hover-min.css">
      <!-- Nouislider Style CSS -->
    <link rel="stylesheet" href="assets\learniteasy\vendor\noUiSlider\nouislider.min.css">
    <!-- ReImageGrid CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\reImageGrid.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\style.css">
    <!-- Modal CSS -->
    <link rel="stylesheet" href="assets\learniteasy\css\tingle.min.css">
    <!-- Modernizr Js -->
    <script src="assets\learniteasy\js\modernizr-2.8.3.min.js"></script>