<!-- Main Body Area End Here -->
    <!-- jquery-->
    <script src="assets\learniteasy\js\jquery-2.2.4.min.js" type="text/javascript"></script>
    <!-- Plugins js -->
    <script src="assets\learniteasy\js\plugins.js" type="text/javascript"></script>
    <!-- Bootstrap js -->
    <script src="assets\learniteasy\js\bootstrap.min.js" type="text/javascript"></script>
    <!-- WOW JS -->
    <script src="assets\learniteasy\js\wow.min.js"></script>
    <!-- Nivo slider js -->
    <script src="assets\learniteasy\vendor\slider\js\jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="assets\learniteasy\vendor\slider\home.js" type="text/javascript"></script>
    <!-- Owl Cauosel JS -->
    <script src="assets\learniteasy\vendor\OwlCarousel\owl.carousel.min.js" type="text/javascript"></script>
    <!-- Meanmenu Js -->
    <script src="assets\learniteasy\js\jquery.meanmenu.min.js" type="text/javascript"></script>
    <!-- Srollup js -->
    <script src="assets\learniteasy\js\jquery.scrollUp.min.js" type="text/javascript"></script>
    <!-- jquery.counterup js -->
    <script src="assets\learniteasy\js\jquery.counterup.min.js"></script>
    <script src="assets\learniteasy\js\waypoints.min.js"></script>
    <!-- Countdown js -->
    <script src="assets\learniteasy\js\jquery.countdown.min.js" type="text/javascript"></script>
    <!-- Isotope js -->
    <script src="assets\learniteasy\js\isotope.pkgd.min.js" type="text/javascript"></script>
    <!-- Magic Popup js -->
    <script src="assets\learniteasy\js\jquery.magnific-popup.min.js" type="text/javascript"></script>
    <!-- Gridrotator js -->
    <script src="assets\learniteasy\js\jquery.gridrotator.js" type="text/javascript"></script>
    <!-- Select2 Js -->
    <script src="assets\learniteasy\js\select2.min.js" type="text/javascript"></script>
    <!-- Nouislider Js -->
    <script src="assets\learniteasy\vendor\noUiSlider\nouislider.min.js" type="text/javascript"></script>
    <!-- Magic Popup js -->
    <script src="assets\learniteasy\js\jquery.magnific-popup.min.js" type="text/javascript"></script>
     <!-- Validator js -->
    <script src="assets\learniteasy\js\validator.min.js" type="text/javascript"></script>
    <!-- wNumb Js -->
    <script src="assets\learniteasy\js\wNumb.js" type="text/javascript"></script>
    <!-- Custom Js -->
    <script src="assets\learniteasy\js\main.js" type="text/javascript"></script>
    <!-- Custom Js -->
    <script src="assets\learniteasy\js\tingle.min.js" type="text/javascript"></script>