<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                     <ul>
                                        <li class="active"><a href="/">Home</a>
                                        	<ul>
                                            	<li><a href="/mycourses">My Courses</a></li>
                                                <li><a href="/myprofile">My Profile</a></li>
                                                <li><a href="/myresult">My MCQ Results</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Courses</a>
                                            <ul>
                                            	<li class="has-child-menu"><a href="/courses">IT & Software</a>
                                                    <ul class="thired-level">
                                                        <li><a href="/courses">Web Development</a></li>
                                                        <li><a href="/courses">Industry  Trends</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Events</a>
                                        	<ul>
                                        		<li><a href="/eventsishudattend">I should attend</a></li>
                                            	<li><a href="/allevents">All Events</a></li>
                                            	<li><a href="/nextweekendevents">Next Weekend</a></li>
                                                <li><a href="/nextmonthevents">Next Month</a></li>
                                                <li><a href="/nextthreemonthevents">Next Three Month</a></li>
                                                
                                            </ul>
                                        </li>
                                        
                                        <li><a href="/findyourpath">Find Your Road</a>
                                            <ul>
                                            	<li><a href="/findyourpath">Search</a></li>
                                                <li class="has-child-menu"><a href="/courses">I am </a>
                                                    <ul class="thired-level">
                                                        <li><a href="/roadforfreshers">Freshers</a></li>
                                                        <li><a href="/roadforexperienced">Experienced</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/techtrends">Tech Trends</a></li>
                                                <li><a href="/jobtrends">Job Trends</a></li>
                                            </ul>
                                        </li>
                                        
                                         <li><a href="#">Test Yourself</a>
                                         	<ul>
                                            	 
                                                <li class="has-child-menu"><a href="/courses">MCQ for </a>
                                                    <ul class="thired-level">
                                                        <li><a href="/mcqhomestudent">Student</a></li>
                                                		<li><a href="/mcqhomegeneral">General</a></li> 
                                                    </ul>
                                                </li>
                                                <li><a href="/techtrends">Send Your Query</a></li>
                                            </ul>
                                        </li>
                                        
                                        
                                        <li><a href="#">About Us</a>
                                            <ul>
                                                <li><a href="/aboutus">Who are We</a></li>
                                                <li><a href="/contactus">Contact Us</a></li>
                                                <li><a href="/faq">FAQ</a></li>
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>