
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 news-inner-area">
			<h2 class="title-default-left">Latest News</h2>
			<ul class="news-wrapper news-wrapper-responsive wow fadeInLeft"
				data-wow-duration="2s" data-wow-delay=".2s">
				<li>
					<div class="news-img-holder">
						<a href="#"><img src="assets\learniteasy\img\news\1.jpg"
							class="img-responsive" alt="news"></a>
					</div>
					<div class="news-content-holder">
						<h3>
							<a href="single-news.htm">Summer Course Start From 1st June</a>
						</h3>
						<div class="post-date">June 15, 2017</div>
						<p>Pellentese turpis dignissim amet area ducation process
							facilitating Knowledge.</p>
					</div>
				</li>
				<li>
					<div class="news-img-holder">
						<a href="#"><img src="assets\learniteasy\img\news\2.jpg"
							class="img-responsive" alt="news"></a>
					</div>
					<div class="news-content-holder">
						<h3>
							<a href="single-news.htm">Guest Interview will Occur Soon</a>
						</h3>
						<div class="post-date">June 15, 2017</div>
						<p>Pellentese turpis dignissim amet area ducation process
							facilitating Knowledge.</p>
					</div>
				</li>
				<li>
					<div class="news-img-holder">
						<a href="#"><img src="assets\learniteasy\img\news\3.jpg"
							class="img-responsive" alt="news"></a>
					</div>
					<div class="news-content-holder">
						<h3>
							<a href="single-news.htm">Easy English Learning Way</a>
						</h3>
						<div class="post-date">June 15, 2017</div>
						<p>Pellentese turpis dignissim amet area ducation process
							facilitating Knowledge.</p>
					</div>
				</li>
			</ul>
			<div class="news-btn-holder">
				<a href="#" class="view-all-accent-btn">View All</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 event-inner-area">
			<h2 class="title-default-left">Campus Video Tour</h2>
			<div
				class="video-area2 overlay-video bg-common-style wow fadeInRight"
				data-wow-duration="2s" data-wow-delay=".2s"
				style="background-image: url('assets/learniteasy/img/banner/2.jpg');">
				<div class="video-content">
					<a class="play-btn popup-youtube"
						href="http://www.youtube.com/watch?v=1iIZeIy7TqM"><i
						class="fa fa-play" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>