<div class="search-area">
	<div class="container">
		<div class="row search-inner">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
				<div class="search-title">
					<span><i class="fa fa-search" aria-hidden="true"></i> Search
						Course</span>
				</div>
			</div>
			<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
				<div class="search-input">
					<form>
						<input type="text" class="search-form"
							placeholder="Course Keywords . . ." required="">
					</form>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
				<div class="search-submit">
					<a href="/searchresult" class="join-now-btn">Search</a>
				</div>
			</div>
		</div>
	</div>
</div>