<div class="students-join3-area">
	<div class="container">
		<div class="students-join3-wrapper">
			<div class="students-join3-left">
				<div id="ri-grid"
					class="author-banner-bg ri-grid header text-center">
					<ul class="ri-grid-list">
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student1.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student2.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student3.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student4.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student5.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student6.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student7.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student8.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student1.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student2.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student3.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student4.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student5.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student6.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student7.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student8.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student1.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student2.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student3.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student4.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student5.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student6.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student7.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student8.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student1.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student2.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student3.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student4.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student5.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student6.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student7.jpg" alt=""></a>
						</li>
						<li><a href="#"><img
								src="assets/learniteasy/img/students/student8.jpg" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="students-join3-right">
				<div>
					<h2>
						Join<span> 29,12,093</span> Students.
					</h2>
					<a href="#" class="join-now-btn">Join Now</a>
				</div>
			</div>
		</div>
	</div>
</div>