<!DOCTYPE html>
<html lang="en">
<head><% include ../../../common/admin_head.htm %>
</head>

<body class="navbar-top">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top"><% include
		../../../common/admin_logo.htm %> <% include
		../../../common/admin_topbar.htm %></div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
					<% include ../../../nav/admin_usermenu.htm %>
					<!-- /user menu -->


					<!-- Main navigation -->
					<% include ../../../nav/admin_mainnav.htm %>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
				<div class="page-header page-header-default">

					<!-- Content Header -->
					<div class="page-header-content">
						<div class="page-title">
							<h4>
								<i class="icon-arrow-left52 position-left"></i> <span
									class="text-semibold">Admin</span> - Sub-Section Lists
							</h4>
						</div>


					</div>
					<!-- /Content Header -->

					<!-- Content Breadcrumb -->
					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="/admindashboard"><i
									class="icon-home2 position-left"></i> Home</a></li>
							<li><a href="/admindashboard">Admin</a></li>
							<li class="active">Sub-Section</li>
						</ul>

					</div>
					<!-- /Content Breadcrumb -->
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">

					<!-- Simple panel -->
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Sub-Section</h5>
						</div>

						<div class="panel-body">
							<!-- <div class="form-group">
									<label class="col-lg-2 control-label text-semibold">Select Content Excel file</label>
									<div class="col-lg-10">
										<input type="file" class="file-input-extensions">
										<span class="help-block">Allow only specific file Content.xlsx</span>
									</div>
							</div> -->

							<div class="panel panel-flat">
								 

								 
								<table class="table datatable-save-state">
									<thead>
										<tr>
											<th>Headline</th>
											<th>Subline</th>
											 
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Marth</td>
											<td><a href="#">Enright</a></td>
								 
											 
											<td class="text-center">
												<ul class="icons-list">
													<li class="dropdown"><a href="#"
														class="dropdown-toggle" data-toggle="dropdown"> <i
															class="icon-menu9"></i>
													</a>

														<ul class="dropdown-menu dropdown-menu-right">
															<li><a href="#"><i class="icon-file-pdf"></i>Edit</a></li>
														</ul></li>
												</ul>
											</td>
										</tr>
										 
									</tbody>
								</table>
							</div>


						</div>
					</div>
					<!-- /simple panel -->
					
					
					
					<!-- Footer -->
					
					
					
					<% include ../../../common/admin_lightfooter.htm %>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
